In [8]:
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [3]:
data = sns.load_dataset('titanic')
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
y = data['survived']
X = data.drop('survived',axis=1)

In [10]:
numerical_features = ['pclass','age','fare']
categorical_features = ['sex','deck','alone']

In [11]:
numercal_pipeline = make_pipeline(SimpleImputer(),StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'),OneHotEncoder())

In [14]:
from sklearn.compose import make_column_transformer
preprocessor = make_column_transformer((numercal_pipeline,numerical_features),(categorical_pipeline,categorical_features))

In [15]:
model = make_pipeline(preprocessor,SGDClassifier())
model.fit(X,y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['pclass', 'age', 'fare']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['sex', 'deck', 'alone'])])),
                ('sgdclassifier', SGDClassifier())])

In [16]:
model.score(X,y)

0.7867564534231201

# make_column_selector

In [17]:
from sklearn.compose import make_column_selector

In [18]:
numerical_features = make_column_selector(dtype_include=np.number)
categorical_features = make_column_selector(dtype_exclude=np.number)

# make_union

In [21]:
 y = data['survived']
X = data.drop('survived',axis=1)

In [28]:
numerical_features = X[['age','fare']]
numerical_features.dropna(axis=0,inplace=True)

In [29]:
from sklearn.pipeline import make_union
from sklearn.preprocessing import Binarizer

In [30]:
pipeline = make_union(StandardScaler(),Binarizer())

In [33]:
pipeline.fit_transform(numerical_features)

array([[-0.53037664, -0.51897787,  1.        ,  1.        ],
       [ 0.57183099,  0.69189675,  1.        ,  1.        ],
       [-0.25482473, -0.50621356,  1.        ,  1.        ],
       ...,
       [-0.73704057, -0.08877362,  1.        ,  1.        ],
       [-0.25482473, -0.08877362,  1.        ,  1.        ],
       [ 0.15850313, -0.50952283,  1.        ,  1.        ]])